<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <title>Stock Ticker Not Found</title>
        <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
    </head>
    <body>
        <div class=page>
            <h2>The stock sticker is not found in the Quandl WIKI dataset &#9785; </h2>
            <h4>Thank you for participating &hearts;! </h4> 
            <h4> You can click on Go Back button to choose another one &#9996;.</h4>  
            
            <form id='errormsg' method='post' action='errormsg' > <!-- action is the URL you want to move to next-->
                <p>
                    <input type='submit' value='Go Back' /> <!-- value is the text that will appear on the button. -->
                </p>
            </form>
        </div class=metanav>
        </div>
    </body>
</html>