<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>User Input!</title>
        <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
	</head>
	<body>
		<div class=page>
  			<h1>User Input</h1>
		    <h4>Please enter a stock ticker eg. GOOG, and check desired features.</h4>
		    <form id='index' method='post' action='index' > <!-- action is the URL you want to move to next-->
                <p>
                    Ticket Symbol: <input type='text' name='symbol' />
                </p>
                <p>
                    <input type='checkbox' name='Type' value={{ans1}} /> {{ans1}} <br />
                    <input type='checkbox' name='Type' value={{ans2}} /> {{ans2}} <br />
                    <input type='checkbox' name='Type' value={{ans3}} /> {{ans3}} <br />
                </p>
                <p>
                <input type='submit' value='Submit' /> <!-- value is the text that will appear on the button. -->
                 </p>
            </form>
	    </div class=metanav>
		</div>
	</body>
</html>

